.profile-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: 
    "business business"
    "change delete";
}

.business-list {
    grid-area: business;
}

.password-change {
    grid-area: change;
}

.delete-account {
    grid-area: delete;
}

.user-business {
    width: 100%;
    list-style-type: none;
}

.profile h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.business-list h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 26px;
    text-align: center;
}
.business-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.delete-account h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.delete-account h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.delete-button {
    text-align: center;
    font-size: 18px;
    border: none;
    background-color: #991818;
    color: white;
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: 4em;
}

.business-add {
    font-size: 18px;
    border: none;
    background-color: #2D3763;
    color: white;
    width: 20%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 4em;
}

.business-item i {
    font-size: 22px;
    margin-right: 0.5em;
}

.edit {
    color: #2D3763;
}

.delete { 
    color: red;
}

.password-change h3 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
}

.password-change label {
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.password-change input { 
    width: 60%;
    margin-right: 4em;
    float: right;
}

.form-group {
    margin-top:0;
    margin-bottom: 0.75em;
}

.password-change button {
    margin-left: 30%
}

