 .business-form {
    overflow-x: hidden;
    z-index: 400;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow:  3px 2px 15px #cccccc;
    margin-top: 8em;
    border: 1px solid #aaaaaa;
    z-index: 300;
    position: absolute;
    top: -17%;
    left: 2%;
    width: 95%;

}

.form-container h2 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    margin-top: 1em;
}

.general-input {
    font-size: 14px;
    margin-left: 1.5em;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    width: 85%;
}

#other-input {
    margin-left: 1.5em;
}

.bottom-half-form input{
    margin-bottom: 0.5em;
    width: 85%;
    display: block;
    height: 2.5em;
}

.bottom-half-form {
    margin-bottom: 0.5em;
}

.bottom-half-form div {
    margin-left: 1.5em;
    width: 100%;
    font-size: 16px;
}

.form-container form h4 {
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 0.5em;
}

.bottom-half-form div h4 {
    text-align: left;
    margin-left: 6em;
    margin-bottom: 0.5em;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}

.form-container form button {
    width: 85%;
    margin-bottom: 0.5em;
    border: none;
    background-color: #2D3763;
    color: white;
    margin-left: 2.1em;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    font-size: 16px;
}

.online-check {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.online-check h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#online {
    margin: 0;
    padding: 0;
    margin-left: 0;
    min-width: 25%;
}

.checkbox-wrapper {
    display: flex;
    margin-left: 3.5em;
    margin-top: 0.5em;
    width: 60%;
    height: 15%;
    align-items: center;
}

.checkbox-input {
    width: 15%;
    margin-right: 0;
    display: inline;
}

.checkbox-wrapper h4 {
    margin: 0;
}

@media screen and (min-width: 992px) {

    .checkbox-wrapper {
        display: flex;
        margin-left: 3.5em;
        margin-top: 0.5em;
        width: 60%;
        height: 15%;
        align-items: center;
    }

    .checkbox-input {
        width: 15%;
        margin-right: 0;
        display: inline;
    }

    .checkbox-wrapper h4 {
        margin: 0;
    }

    .business-form {
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .form-container {
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow:  3px 2px 15px #cccccc;
        margin-top: 8em;
        border: 1px solid #aaaaaa;
        margin-bottom: 4em;
        z-index: 300;
        position: absolute;
        top: -12%;
        left: 22%;
        width: 44em;
    }

    #other-input {
        margin-left: 3.5em;
    }

    .form-container h2 {
        font-family: 'Barlow Condensed', sans-serif;
        text-align: center;
        margin-top: 1em;
    }

    .general-input {
        margin-left: 3.5em;
        display: block;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0.5em;
        width: 85%;
    }

    .bottom-half-form input{
        margin-bottom: 0.5em;
        width: 85%;
        display: block;
        height: 2.5em;
    }

    .bottom-half-form {
        display: flex;
        margin-left: 1.2em;
        margin-bottom: 0.5em;
    }
    
    .bottom-half-form div {
        width: 50%;
    }

    .form-container form h4 {
        font-size: 18px;
        font-family: 'Barlow Condensed', sans-serif;
        margin-bottom: 0.5em;
    }

    .bottom-half-form div h4 {
        margin-bottom: 0.5em;
        font-size: 18px;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .form-container form button {
        border: none;
        background-color: #2D3763;
        color: white;
        width: 35%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-left: 4.3em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
        font-size: 16px;
    }
}