.directory ul {
    list-style-type: none;
    font-size: 32px;
    font-family: 'Barlow Condensed', sans-serif;
}

.directory-main h1 {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
