.directory ul {
    list-style-type: none;
    font-size: 26px;
    font-family: 'Barlow Condensed', sans-serif;
}

.directory #maindirectory {
    columns: 1;
}

.search-form form {
    margin-left: 4em;
    margin-right: auto;
    max-width: 16em;
}

@media screen and (min-width: 992px) {
    .directory #maindirectory {
        columns: 2;
        margin-left: 9em;
    }
    .search-form form {
        margin-left: 31em;
    }
    .directory ul {
        list-style-type: none;
        font-size: 32px;
        font-family: 'Barlow Condensed', sans-serif;
    }
}

.search-form h4 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 22px;
}

.directory-main h1 {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.search-form label {
    font-family: 'Barlow Condensed', sans-serif;
}

.search-form button {
    margin-left: 1.5em;
    border: none;
    background-color: #2D3763;
    color: white;
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.75em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    font-size: 16px;
}

 .search-form input, .search-form select {
     width: 15em;
 }

.search-form h3 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
